{% extends "base.html" %} 
{% load static %}

{% block content%}

<div class="container">
    {% for column in board.columns.all %}

            <div>
                <div class="conteainer">
                    <h2>{{column.title}}</h2>
                    <a class="columnHeader-addTask" aria-label="Add task" href="{% url "board:create_task" board.pk column.pk %}" ></a>
                </div>
                {% for task in column.tasks.all %}
                    <div class="task card"><a href="{% url "board:update_task" board.pk task.pk %}">{{task.title}}</a></div>
                {% endfor %}
            </div>
    {% endfor %}
    <div class=""><div class="container">
        <button><a href="{% url "board:create_column" board.pk %}"><i class="fa-solid fa-circle-plus"></i>Add Column</a></button>
    </div></div>
</div>


{% endblock %}