//_card_containers.scss

.card-container {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0;
}

a {
    color: $primary-color;
}

a {
    color: $primary-color;
}

.card {
    // width: 100%;
    flex: 0 1 30%;
    margin-top: $margin-medium;
    margin-bottom: $margin-medium;
    margin-left: $margin-small;
    margin-right: $margin-small;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgb(173, 223, 169);
    box-shadow: 1px 2px 3px 4px rgba(156, 153, 153, 0.2);

    a {
        color: $primary-color;
    }

    p {
        margin-bottom: 0px;
    }
}

.card-image,
.card-title,
.card-description {
    margin: 0 auto;
    width: 100%;
}

.card-image {
    padding: 1.2em 1em;
}

.card-title,
.card-description {
    padding: 1em 2em;
}

.card-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

}


@media (min-width: 640px) {

    .card-container {
        display: flex;
        flex-flow: wrap;
    }
}